@import "../../shared/styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
  width: 100%;
  min-width: $min-screen-width;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background: $app-bg;
  font-family: 'Arima Madurai', cursive;
}

a {
  text-decoration: none;
}