@import "../../shared/styles/variables";

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $bold;
    background: white;

    span {
        font-size: 2rem;
    }

    img {
        width: 8rem;
    }
}