@import "../../../shared/styles/variables";

.topic {
    padding: 1rem;
    margin: calc(100vh - 75vh);
    background: $single-topic-bg;
    border-radius: 1rem;
    box-shadow: 0 0rem 10rem $single-topic-bg-shadow;
    color: $single-topic-text-color;


    h1 {
        text-align: center
    }

    p {
        margin: 1rem 0;
    }
}

.topic_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}