@import "../../shared/styles/variables";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $navbar-bg;
  box-shadow: 0 0.5rem 1rem $navbar-shadow;
  margin-bottom: 1rem;
}

.logo {
  a {
    color: $navbar-text;

    &:hover {
      color: $navbar-text-hover;
    }
  }
}

.nav_links {
  text-transform: uppercase;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      margin: 0 1rem;

      a {
        font-size: 1rem;
        cursor: pointer;
        color: $navbar-text;

        &:hover {
          text-decoration: underline;
          color: $navbar-text-hover;
        }
      }
    }
  }
}
