@import "../../shared/styles/variables";

.navbar_container {
  background-color: $navbar-bg;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  background-color: $navbar-bg;
  font-weight: $bold;
  font-size: .9rem;
  max-width: $max-screen-width;
  margin: 0 auto;
}

.nav_links {
  
  a {
    margin: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav_icons {
  margin-right: 1rem;

  a {
    margin: .2rem;
  }
}